name: Deploy media-collection-api app

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }} 
        script: |
          cd ~/applications/media-collection.api
          git pull origin main
          dotnet restore **/*.sln
          dotnet publish ./MediaCollection.API/MediaCollection.API.sln -c Release -o ./publish
          sudo systemctl stop media-collection-api 2>/dev/null || true         
          cp -r ./publish/* /var/www/media-collection-api/ 2>/dev/null || mkdir -p /var/www/media-collection-api/

          sed -i "s/\${API_HOST}/${{ secrets.PG_HOST }}/g" ./publish/appsettings.json
          sed -i "s/\${API_PORT}/${{ secrets.PG_PORT }}/g" ./publish/appsettings.json
          sed -i "s/\${DB_USER}/${{ secrets.PG_LOGIN }}/g" ./publish/appsettings.json
          sed -i "s/\${DB_PASSWORD}/${{ secrets.PG_PASSWORD }}/g" ./publish/appsettings.json
          sed -i "s/\${API_SECRET_KEY}/${{ secrets.SECRET_KEY }}/g" ./publish/appsettings.json
          
          sudo systemctl start media-collection-api || echo "Service not configured, running manually"

